body {
    background-color: #eeeded !important;
    font-family: "Roboto Condensed", sans-serif;
}

.checkin-form .overflow-x-auto {
    overflow-x: auto;
}

.checkin-form .tableCheckIn {
    width: 100%;
}

.checkin-form .table-bcheckin-formless {
    width: 100%;
    bcheckin-form-collapse: collapse;
}

.checkin-form .slot-times-column,
.checkin-form td {
    white-space: nowrap;
}
.checkin-form .slot-time {
    padding: 8px 0;
}

.staffPageManager .detail-yard {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}
.checkin-form table {
    min-width: 1000px;
}
.order .select-slot {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 10px;
}

.detail-yard .detail-yard-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.staffPageManager .icon {
    font-size: 20px !important;
}
.staffPageManager .btn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 817px) {
    .staffPageManager .btn {
        font-size: 11px;
    }
}
@media (max-width: 769px) {
    .staffPageManager .detail-yard {
        padding: 100px 0 0 0 !important;
    }
}
@media (max-width: 748px) {
    .staffPageManager .detail-yard .detail-yard-title {
        display: block;
    }
    .staffPageManager .detail-yard .detail-yard-title div {
        margin-bottom: 10px;
    }
    .staffPageManager b {
        font-size: 12px;
    }
}
@media (max-width: 690px) {
    .staffPageManager b {
        font-size: 10px;
    }
    .staffPageManager .yard-service {
        font-size: 12px;
    }
}
@media (max-width: 600px) {
}
@media (max-width: 550px) {
    .staffPageManager b {
        font-size: 8px;
    }
    .staffPageManager h3,
    .staffPageManager p,
    .staffPageManager .yard-left span {
        font-size: 11px !important;
    }
}
