/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eeeded !important;
    font-family: "Nyght Serif", Arial, sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none !important;
}
p {
    margin: 0 !important;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}


